@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');
:root{
  --color-first: #FFFFFF;
  --color-font: #111111;
  --color-red: #db1212;
  --color-gray: #111111;
  --color-bg: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .4s linear;
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
}

.dark{
  --color-first: #1f1f1f;
  --color-red: #221d68;
  --color-font: #FFFFFF;
}